body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background: #181818;
  color: #ECECEC;
  width: 100%;
  height: 100%;
}

button {
  border: 1px solid #181818;
}

header,
main,
footer {
  margin-left: 320px;
  margin-right: 320px;
  padding-top: 20px;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #FFFFFF1A;

}

.logo-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.logo-img>img {
  width: 40px;
  height: 40px;
  top: 3px;
  gap: 0px;
  opacity: 0px;
}

.logo-container>p {
  width: 180px;
  height: 44px;
  gap: 0px;
  opacity: 0px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  color: #ECECEC;

}

.auth-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  opacity: 0px;

}

#register-btn {
  width: 120px;
  height: 25px;
  cursor: pointer;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: right;

  color: #ECECEC;
  background: #181818;
}

#login-btn {
  width: 52px;
  height: 25px;
  cursor: pointer;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;

  color: #ECECEC;
  background: #181818;
}

.modal {
  position: absolute;
  background: #FFFFFF;
  color: #181818;
  border-radius: 20px;
  display: none;
  width: 100%;
  height: 100%;
  overflow: auto;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background: #FFFFFF;
  margin: 15% auto;
  width: 600px;
  border-radius: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.close {
  align-self: flex-end;
  cursor: pointer;
  width: 20px;
  height: 20px;
  margin-right: 20px;
}

#registerModal>.modal-content {
  height: 549px;
}

#loginModal>.modal-content {
  height: 349px;
}

.auth-context {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  font-size: 32px;
}

.auth-context a {
  text-decoration: none;
  /* Убираем подчеркивание */
  color: #B9B9B9;
  /* Устанавливаем цвет текста ссылки */
}

.auth-context a:hover {
  color: #999999;
  /* Цвет ссылки при наведении */
}

.modal-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.modal-content form>button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;

  width: 520px;
  height: 60px;

  background: #FF9C07;
  color: #FFFFFF;
  font-size: 20px;
  border-radius: 10px;
}

.data-proc-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 7px;
  font-size: 16px;
}

.data-proc-box span {
  color: orange;
}

input[type="checkbox"] {
  display: none;
}

#dataProcessingConsent {
  display: inline-block;
  height: 14px;
  width: 14px;
  border: 2px solid #B9B9B9;
  background: transparent;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  text-align: center;
  line-height: 14px;
  color: transparent;
  transition: background 0.3s, border-color 0.3s, color 0.3s;

  font-size: 17px;
}

input[type="checkbox"]:checked+#dataProcessingConsent {
  background: #FF9C07;
  border-color: #FF9C07;
  color: #FFFFFF;
}

#loginForm .form-inputs {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.context-main {
  color: #181818;
}

.context-sub {
  color: #B9B9B9;
}

.custom-form-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.auth-input {
  position: relative;
}

.auth-input input {
  width: Fixed (250px)px;
  height: 60px;
  /*padding: 28px 20px 12px 20px;*/
  gap: 10px;
  border-radius: 10px;
  opacity: 0px;
  box-sizing: border-box;
  transition: border-color 0.3s;
  font-size: 16px;
}

#registerUsername {
  width: 520px;
}

.auth-input input:focus {
  outline: none;
}

.auth-input input:not(:placeholder-shown) {
  border-color: #FF9C07;
}

.auth-input label {
  position: absolute;
  left: 7px;
  top: 5px;
  color: #B9B9B9;
  transition: 0.2s;
  pointer-events: none;
}

.auth-input input:not(:placeholder-shown)+label,
.auth-input input:focus+label {
  font-size: 10px;
  color: #FF9C07;
}

.all-fields-req {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #838383;
}

.all-fields-req p {
  font-size: 20px;
}

main {}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.add-review-btn {
  width: 199px;
  height: 60px;
  /*padding: 20px;*/
  gap: 10px;
  border-radius: 10px;
  opacity: 0px;
  background: #FF9C07;

  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  /*text-align: right;*/

  color: #FFFFFF;
}

.plus-sym {
  width: 16px;
  height: 2px;
  top: 2px;
  left: 11px;
  gap: 0px;
  border-radius: 10px 0px 0px 0px;
  opacity: 0px;
  angle: -90 deg;
}

.films-review-container {
  display: flex;
  flex-direction: row;

  width: 1200px;
  height: 972px;
  top: 235px;
  left: 360px;
  gap: 20px;
  border-radius: 20px;
  opacity: 0px;

  width: 1200px;
  height: 972px;
  left: 360px;

}

.film-review {
  /*display: flex;*/
  /*flex-direction: column;*/
  /**/
  /*width: Fixed (224px)px;*/
  /*height: Hug (476px)px;*/
  /*top: 235px;*/
  /*left: 360px;*/
  /*padding: 20px;*/
  /*gap: 16px;*/
  /*border-radius: 20px;*/
  /*opacity: 0px;*/
  /**/
  /*background: #242424;*/


  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 16px;

  /*width: 200px;*/
  height: 500px;
  /*left: 360px;*/
  /*top: 235px;*/

  background: #242424;
  border-radius: 20px;
}

.film-review>img {
  width: 184px;
  height: 276px;
  gap: 0px;
  opacity: 0px;
}

.review-text-container {
  display: flex;
  flex-direction: column;
  /*align-items: flex-start;*/
  padding: 0px;
  gap: 12px;
  /*width: 184px;*/
  /*height: 84px;*/

  /*flex: none;*/
  /*order: 1;*/
  /*align-self: stretch;*/
  /*flex-grow: 0;*/
}

.review-text-container>h3 {
  width: 184px;
  height: 52px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;

  color: #FFFFFF;

  /*flex: none;*/
  /*order: 0;*/
  /*align-self: stretch;*/
  /*flex-grow: 0;*/
}

.review-text-container>p {

  width: 184px;
  height: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  /* Gray 2 */
  color: #989898;


  /*flex: none;*/
  /*order: 1;*/
  /*align-self: stretch;*/
  /*flex-grow: 0;*/
}

.review-more-btn {
  box-sizing: border-box;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;

  width: 184px;
  height: 44px;

  border: 2px solid #FF9C07;
  border-radius: 10px;

  /*flex: none;*/
  /*order: 2;*/
  /*align-self: stretch;*/
  /*flex-grow: 0;*/
}

.review-more-btn>p {
  width: 79px;
  height: 20px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  text-align: right;
  color: #FF9C07;

  /*flex: none;*/
  /*order: 1;*/
  /*flex-grow: 0;*/
}

.show-more {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 10px;

  width: 1200px;
  height: 60px;
  left: 360px;
  top: 1247px;
  cursor: pointer;

  border: 2px solid #FF9C07;
  border-radius: 10px;
}

.show-more>p {
  font-family: Inter;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: #FF9C07;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
